image: phasecorex/red-discordbot:{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}
{{#if build.tags}}
tags:
{{#each build.tags}}
  - {{this}}
{{/each}}
{{/if}}
manifests:
  -
    image: phasecorex/red-discordbot:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: phasecorex/red-discordbot:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}arm32v7
    platform:
      architecture: arm
      os: linux
      variant: v7
  -
    image: phasecorex/red-discordbot:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
